.app {
  display: grid;
  height: 100vh;
  /* height :100 vh helps to place the div in center */
  place-items: center;
  /* helsp to center it */
  background-color: #dadbd3;
}
.app__body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
